@media only screen and not (min-width: 800px) 
{

    main
    {
        display: flex;
        flex-direction: column;
    }

    /* Classes */

    .nav-bar
    {
        display: none;
    }

    .menu
    {
        display: block;
        position: absolute;
        right: 15px;
        top: 70px;
        cursor: pointer;
        user-select: none;
        margin: 0;
    }

    .nav-show
    {
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        justify-content: right;
        align-items: center;
    }

    .nav-show a
    {
        padding: 15px 0;
    }

    .studentBanner
    {
        font-size: small;
    }

    #course-filters button
    {
        width: 6rem;
    }

    #courses-by-filter
    {
        grid-template-columns: 1fr;
    }
}